.sidenav-container {
  height: 98vh;
  background: #003847;
  width: 230px;
  overflow: hidden;
}
.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  overflow-y: auto; 
}

span {
  color: #fff;
  font-size: 15px;

}
.sidenav {
  width: 250px;
  background-color: #003847;
}

.logo-container {
  padding-top: 15px;
  text-align: center;
  color: #fff;
  width: 230px;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

mat-nav-list, mat-icon {
  color: #fff;
  text-decoration: none;
}

p.insight {
  margin: 20px;
}

.mat-mdc-list-base {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-nav-list a.mat-list-item {
  display: flex;
  align-items: center;
}


mat-nav-list a.mat-list-item mat-icon {
  margin-right: 16px;
}

/*  */
.active-link {
  background-color: rgba(255, 12, 52, 0.1);
  border-left: 4px solid #e64b0e;
  color: #ffffff;
}

.mat-list-item.active-link:hover {
  background-color: rgb(247, 15, 170);
}
