<h2 mat-dialog-title></h2>
<mat-dialog-content>
  <div class="video-container">
      <video #videoElement width="100%" controls (loadedmetadata)="setInitialVolume(videoElement)">
        <source [src]="data.videoPath" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <div class="controls">
        <button (click)="play(videoElement)">Play</button>
        <button (click)="pause(videoElement)">Pause</button>
        <button (click)="previousLesson()">Previous</button>
        <button (click)="nextLesson()">Next</button>
      </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Fermer</button>
</mat-dialog-actions>
