<mat-toolbar class="header-toolbar">
  <!-- Search bar -->
  <mat-form-field class="search-field" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput type="text" placeholder="search" />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <!--  -->
 <div class="header">
  <!-- Notification icon -->
  <button mat-icon-button class="notif">
    <mat-icon>notifications</mat-icon>
  </button>
  <!-- Profile avatar -->
  <button mat-icon-button class="profile-avatar" >
    <img src="assets/avatar.png" alt="User Avatar" />
  </button>
   </div>
</mat-toolbar>
