.card-grid-container {
  padding: 20px;
  color: #fff;

  .toolbar {
    display: flex;
    justify-content: space-between;
    // background-color: #1e1e1e;
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;

    .module-title {
      font-size: 24px;
      font-weight: bold;
    }

    .add-button {
      width: 20%;
      height: 50px;
      margin: 15px;
      padding: 5px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      background-color: var(--primary-color);
      color: #fff;

      mat-icon {
        margin-right: 5px;
      }
    }
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  .module-card-content {
    background-color: #fff;
    color: var(--primary-color);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    mat-card-image {
      height: 150px;
      object-fit: cover;
    }

    .card-content {
      padding: 15px;

      .card-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .date-container {
        display: flex;
        margin-bottom: 10px;

        mat-icon {
          font-size: 16px;
          margin-right: 5px;
          color: var(--secondary-color);
        }
      }

      .card-description {
        font-size: 14px;
        color: #b0b0b0; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  mat-paginator {
    margin-top: 20px;
    background-color: none;
    color: var(--primary-color);
    border-radius: 8px;

    .mat-paginator-range-label,
    .mat-paginator-icon {
      color: #fff;
    }

    .mat-paginator-page-size-select {
      color: #fff;
    }
  }
}
.mat-toolbar{
  background: #fff;
}
.module-image {
  object-fit: cover;
  height: 80px; 
}