<div class="card-grid-container">
  
  <mat-toolbar class="toolbar">
    <span class="module-title">Modules</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" class="add-button" (click)="openCreateDialog()">
      <mat-icon>add</mat-icon> Ajouter
    </button>
  </mat-toolbar>

  <!-- Card Grid -->
  <div class="card-grid">
    <mat-card *ngFor="let item of pagedItems" class="card module-card-content">
      <img mat-card-image [src]="item.image" alt="Image" />

      <mat-card-content class="card-content">
        <h4 class="card-title">{{ item.titre }}</h4>
        <div class="date-container">
          <mat-icon>event</mat-icon>
          <span>{{ item.date }}</span>
        </div>
        <p class="card-description">{{ item.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Pagination Controls -->
  <mat-paginator
    [length]="items.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
