<div class="header">
  <h2 class="dialog-title">
    {{ editMode ? "Modification du module" : "Création d'un module" }}
  </h2>
  <button mat-icon-button class="close-icon" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="moduleForm" class="module-form">
  <div class="form-container">
    <!-- Image Upload Section -->
    <div class="image-upload">
      <label class="section-label">Couverture du module</label>
      <div class="image-dropzone" aria-label="Upload module cover image">
        <div class="upload-text">
          <input type="file" (change)="onFileSelected($event)" />
          <p>
            Glisser déposer ici, ou
            <span class="select-text">Sélectionner</span>
          </p>
          <small>Support JPG et PNG</small>
        </div>
        <!-- Preview of the uploaded image -->
        <img
          *ngIf="imagePreviewUrl"
          [src]="imagePreviewUrl"
          class="custom-image"
          alt="Aperçu de l'image"
        />
      </div>
    </div>

    <!-- Right Side Input Fields -->
    <div class="right-side">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title" required />
        <mat-error
          *ngIf="
            moduleForm.get('title')?.hasError('required') &&
            moduleForm.get('title')?.touched
          "
        >
          Le titre est requis.
        </mat-error>
      </mat-form-field>

      <!-- Category Selection Field -->
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Catégorie</mat-label>
        <mat-select formControlName="category" required>
          <mat-option
            *ngFor="let category of categories"
            [value]="category.nomCategorie"
          >
            {{ category.nomCategorie }}
          </mat-option>
          <!-- Option to add new category -->
          <mat-option (click)="openAddCategoryDialog()">
            + Ajouter une nouvelle catégorie
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            moduleForm.get('category')?.hasError('required') &&
            moduleForm.get('category')?.touched
          "
        >
          La catégorie est requise.
        </mat-error>
      </mat-form-field>

      <!-- Dialog for adding new category -->
      <ng-template #addCategoryDialog>
        <div class="categorieBox">
          <h5>Ajouter une nouvelle catégorie</h5>
          <!-- Category Name Input -->
          <mat-form-field>
            <mat-label>Nom Catégorie</mat-label>
            <input
              matInput
              [(ngModel)]="newCategoryName"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
          <!-- Category Description Input -->
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input
              matInput
              [(ngModel)]="newCategoryDescription"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
          <div class="actions">
            <button mat-raised-button (click)="addNewCategory()" class="button submit">
              Ajouter
            </button>
            <button mat-button (click)="closeCategoryDialog()" class="button reset">Annuler</button>
          </div>
        </div>
      </ng-template>

      <!-- Description and Price Section -->
      <div class="bottom-section">
        <mat-form-field appearance="outline" class="description-field">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            rows="5"
            required
          ></textarea>
          <mat-error
            *ngIf="
              moduleForm.get('description')?.hasError('required') &&
              moduleForm.get('description')?.touched
            "
          >
            Une description est requise.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Prix</mat-label>
          <input matInput formControlName="price" type="number" required />
          <mat-error
            *ngIf="
              moduleForm.get('price')?.hasError('required') &&
              moduleForm.get('price')?.touched
            "
          >
            Le prix est requis.
          </mat-error>
        </mat-form-field>

        <div class="dialog-actions">
          <button class="button submit" (click)="onCreate()">
            {{ editMode ? "Modifier" : "Créer" }}
          </button>
          <button class="button reset" (click)="onReset()">
            Réinitialiser
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
