// card
.mat-mdc-card {
  margin-bottom: 24px;
}
.mat-mdc-card-header {
  padding: 30px 30px 0;
}

.mat-mdc-card-content {
  padding: 0 24px;
  justify-items: space-between;
  align-items: center;
}
.user-category {
  position: absolute;
  bottom: 120px;
}
.mat-mdc-card {
  background-color: $cardbg;
  > .mat-mdc-card-content {
    padding: 24px;
    border-bottom: 1px solid $bordertableColor;
    height: 170px;
  }
}

.cardWithShadow,
.mat-mdc-menu-panel,
.mat-expansion-panel {
  box-shadow: $cardshadow !important;
}

.mat-mdc-card-title {
  line-height: 1.6rem;
  margin-bottom: 8px;
}

.mat-mdc-card-subtitle {
  color: $bodyColor;
  font-weight: 500;
}

.mdc-card__actions {
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

// chip
html .mat-mdc-chip {
  height: 30px;
  font-size: 14px;
  background-color: $light;
}

.mat-mdc-progress-bar {
  border-radius: 6px;
}

.theme-card.mat-mdc-card {
  .mat-mdc-card-header {
    padding: 16px 30px;
  }
  .mat-mdc-card-content {
    padding: 24px;
    display: flex;
  }
}
//

.container {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.progress-number {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 70px;
}
mat-progress-spinner {
  margin: 50px 15px 30px 0px !important;
}
.left {
  flex: 1 auto !important;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
