/*
.course-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5; // Light gray background
  border-radius: 15px; // Rounded corners
  padding: 20px; // Adequate padding
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Subtle shadow for a card effect

  .course-image {
    max-width: 150px; // Limit the image size
    border-radius: 10px; // Rounded corners for the image
  }

  .price-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Align text to the start
    margin-left: 20px; // Space between image and price info

    .original-price {
      font-size: 1.2em;
      text-decoration: line-through; // Strikethrough for original price
      color: #777; // Gray color
      margin-bottom: 5px; // Space below original price
    }

    .discounted-price {
      font-size: 1.5em;
      color: #d9534f; // Red color for the discounted price
      margin-bottom: 10px; // Space below discounted price
    }

    .start-btn {
      background-color: #ff7f50; // Button color
      color: #fff; // Button text color
      padding: 10px 20px; // Adequate padding
      border-radius: 5px; // Rounded corners for the button
      font-size: 1em; // Button text size
      border: none; // No border
      cursor: pointer;

      &:hover {
        background-color: #e56b45; // Darker shade on hover
      }
    }
  }
}
*/
.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  color: var(--primary-color);
  background: rgba(25, 72, 96, 0.02);

  .course-header-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-evenly;
    align-items: self-start;

    .arrow-head {
      display: flex;
      align-items: center;

      .back-button {
        background-color: white;
        color: var(--primary-color);
        margin-right: 10px;
      }

      .category-label {
        font-size: 14px;
        font-weight: bold;
        color: white;
        background-color: var(--primary-color);
        padding: 5px 10px;
        border-radius: 10px;
      }
    }

    .course-title {
      font-size: 28px;
      font-weight: bold;
      margin: 15px 0;
      color: var(--primary-color);
    }

    .course-info {
      display: flex;
      gap: 15px;

      .info-item {
        display: flex;
        align-items: center;
        font-size: 14px;

        mat-icon {
          margin-right: 5px;
          color: var(--secondary-color);
        }

        .text-info {
          margin-left: 3px;
          color: var(--primary-color);
        }
      }
    }
  }

  .course-header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .course-image {
      max-width: 150px;
      border-radius: 10px;
    }

    .price-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
      background: var(--primary-color);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      // align-items: center;
      // font-size: 18px;

      .original-price {
        font-size: 1.2em;
        text-decoration: line-through;
        color: var(--secondary-color);
        margin-bottom: 5px;
      }

      .discounted-price {
        font-size: 2em;
        font-weight: bold;
        color: #ffffff;
      }

      .start-btn {
        margin-top: 10px;
        background-color: var(--secondary-color);
        color: white;
         padding: 10px 20px;
         border-radius: 5px;
          font-size: 1em;
           border: none;
           cursor: pointer;
           &:hover {
             background-color: var(--secondary-color-dark);
           }
      }
    }
  }
}

.overview {
  padding: 20px;
  background-color: #f5f5f5;
}

.curriculum {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
  .certificate-image {
    max-width: 100%;
    height: auto;
  }
}
.arrow-head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.course-info {
  color: var(--secondary-color);
  font-weight: 400;
}
.text-info {
  color: var(--primary-color);
  font-weight: 600;
}
.lessons {
  .no-lessons-message {
    text-align: center;
    font-size: 1.2em;
    color: #666;
  }

  .lesson-item {
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;

    .lesson-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      font-size: 1.4em;
      color: var(--primary-color);
      transition: color 0.3s;

      &:hover {
        color: #000;
      }
    }

    .lesson-content {
      padding: 10px 20px;

      .video-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          margin-right: 1em;
        }
      }
    }

    .lesson-status {
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 0.5em;
      }

      .lesson-duration {
        font-weight: bold;
        font-size: 0.9em;
        color: #555;
      }
    }
  }
}
