<div class="course-header">
  <div class="title-header">
    <div class="course-header-left">
      <!-- Back Button and Category -->
      <div class="arrow-head">
        <button mat-icon-button (click)="goBack()" class="back-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="category-label">{{ moduleDetails.nomCategorie }}</div>
      </div>

      <!-- Course Title -->
      <h2 class="course-title">{{ moduleDetails.titre }}</h2>

      <!-- Course Information -->
      <div class="course-info">
        <span class="info-item">
          <mat-icon>people</mat-icon> {{ moduleDetails.modulesUsers }}
          <span class="text-info">Apprenants</span>
        </span>
        <span class="info-item">
          <mat-icon>description</mat-icon> {{ moduleDetails.leconsCount }}
          <span class="text-info">Leçons</span>
        </span>
        <span class="info-item">
          <mat-icon>quiz</mat-icon> {{ quizCount }}
          <span class="text-info">Quiz</span>
        </span>
      </div>
    </div>
  </div>
  <!-- Course Price and Image
<div class="course-header-right">
  <img
    *ngIf="!isLoading && moduleDetails.imageUrl"
    [src]="moduleDetails.imageUrl"
    [alt]="moduleDetails.titre"
    class="course-image"
  />

  <div class="price-info">
    <span class="original-price" *ngIf="moduleDetails.originalPrice">
      ${{ moduleDetails.originalPrice }}
    </span>
    <span class="discounted-price">${{ moduleDetails.prix }}</span>
    <button
      mat-raised-button
      color="primary"
      class="start-btn"
      (click)="startCourse()"
    >
      Start Now
    </button>
  </div>
</div>-->
  <div class="course-header-right">
    <!-- Image in a box container -->
    <div class="image-box">
      <img
        *ngIf="!isLoading && moduleDetails.imageUrl"
        [src]="moduleDetails.imageUrl"
        [alt]="moduleDetails.titre"
        class="course-image"
      />
    </div>

    <!-- Price information below the image -->
    <div class="price-info">
    <span class="original-price" *ngIf="moduleDetails.originalPrice">
      ${{ moduleDetails.originalPrice }}
    </span>
      <span class="discounted-price">${{ moduleDetails.prix }}</span>
    </div>
  </div>

</div>

<mat-tab-group
  [(selectedIndex)]="selectedTabIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab label="Aperçu Général">
    <div class="overview">
      <p>{{ moduleDetails.description }}</p>
    </div>
  </mat-tab>

 <mat-tab label="Curriculum">
  <div class="curriculum">
    <div *ngIf="moduleDetails.prix <= 0" class="no-certificat-message">
      Pas de Certification pour ce module gratuit.
    </div>
    <img
      *ngIf="moduleDetails.prix > 0"
      src="assets/certificate.png"
      alt="Certificate"
      class="certificate-image"
    />
  </div>
</mat-tab>

  <!--  -->
 <mat-tab label="Leçons">
  <div class="lessons">
    <!-- Button for adding a new lesson -->
    <div class="addButton">
      <div>
      </div>
      <button mat-raised-button color="primary" (click)="openAddLeconDialog()" class="add-lesson-btn">
        <mat-icon>add</mat-icon> Ajouter une nouvelle leçon
      </button>
    </div>


    <div *ngIf="lecons?.length === 0" class="no-lessons-message">
      Pas de leçon pour ce module.
    </div>

    <div *ngFor="let lesson of lecons; let i = index" class="lesson-item">
      <h3 class="lesson-title" (click)="toggleLessonContent(i)">
        {{ lesson.titre }}
        <mat-icon>{{ selectedLessonIndex === i ? 'expand_less' : 'expand_more' }}</mat-icon>
      </h3>

      <div *ngIf="selectedLessonIndex === i" class="lesson-content">

        <div *ngIf="lesson.videoPath && !lesson.locked; else noVideo" class="video-content">
          <p>{{ lesson.description }}</p>
          <button mat-button color="primary" (click)="openVideoPlayer(lesson.videoPath)">
            <mat-icon>play_circle_filled</mat-icon> voir video
          </button>
          <span class="lesson-status">
            <mat-icon>
              {{ isAdmin || moduleDetails.prix <= 0 ? 'check_circle' : lesson.completed ? 'check_circle' : 'lock' }}
            </mat-icon>
            <span class="lesson-duration">{{ lesson.duration }}</span>
          </span>
        </div>

        <ng-template #noVideo>
          <p>Aucun contenu vidéo disponible pour cette leçon.</p>
        </ng-template>

      </div>
    </div>

  </div>
</mat-tab>
  <!--  -->
  <mat-tab label="Reviews">
    <div class="reviews">
      <h3>Commentaires</h3>
      <div class="rating">
        <span class="overall-rating">{{ moduleDetails.evaluation }}</span>
        <!-- Add rating stars here -->
      </div>
      <div
        *ngFor="let evaluation of moduleDetails.evaluation"
        class="review-item"
      >
        <h4>{{ evaluation.name }}</h4>
        <p>{{ evaluation.comment }}</p>
        <span>{{ evaluation.date }}</span>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
