/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

:root {
  --maincolor: #194860;
  --secondColor: #ED6A19;
}

/*  */

.mdc-list-item__primary-text {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: start;
}
