<div class="login-container">
  <div class="login-logo">
    <img src="logo_origin.png" alt="KalanSage Logo" />
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="adama@gmail.com"
        formControlName="email"
        type="email"
        required
      />
      <mat-error *ngIf="loginForm.get('email')?.invalid"
        >Veuillez entrer un e-mail valide</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        placeholder="************"
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        aria-label="Toggle password visibility"
      >
        <mat-icon>{{
          showPassword ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password')?.invalid"
        >Veuillez entrer un mot de passe</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width login" type="submit">
      Se connecter
    </button>
  </form>

  <div class="additional-links">
    <a mat-button href="#">Mot de passe oublié ?</a>
    <p>
      Vous n'avez pas de compte ? <a mat-button href="#">Créer un compte</a>
    </p>
  </div>
</div>
